# IESO Load Examples  

Retrieves data from the Independent Electricity System Operator of Canada. https://www.ieso.ca/

In [1]:
import pandas as pd
import gridstatus
from gridstatus.ieso import IESO

ieso = IESO()
print(gridstatus.list_isos())

                                      Name     Id  Class
0                         Midcontinent ISO   miso   MISO
1                           California ISO  caiso  CAISO
2                                      PJM    pjm    PJM
3    Electric Reliability Council of Texas  ercot  Ercot
4                     Southwest Power Pool    spp    SPP
5                             New York ISO  nyiso  NYISO
6                          ISO New England  isone  ISONE
7  Independent Electricity System Operator   ieso   IESO

## Get Five Minute Load

Five minute load for the market and Ontario. From http://reports.ieso.ca/public/RealtimeConstTotals/

In [2]:
yesterday_start = pd.Timestamp.now().normalize() - pd.Timedelta(days=1)
today_start = yesterday_start + pd.Timedelta(days=1)

load = ieso.get_load(date=yesterday_start, end=today_start)
load.head(5)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 24/24 [00:01<00:00, 12.96it/s]

,Interval Start,Interval End,Market Total Load,Ontario Load
0,2024-01-05 00:00:00-05:00,2024-01-05 00:05:00-05:00,20_178.0000,16_266.2000
1,2024-01-05 00:05:00-05:00,2024-01-05 00:10:00-05:00,20_122.8000,16_212.8000
2,2024-01-05 00:10:00-05:00,2024-01-05 00:15:00-05:00,20_087.6000,16_179.0000
3,2024-01-05 00:15:00-05:00,2024-01-05 00:20:00-05:00,20_042.7000,16_133.0000
4,2024-01-05 00:20:00-05:00,2024-01-05 00:25:00-05:00,20_024.9000,16_114.2000

## Load Forecast

Hourly load forecast for Ontario through tomorrow. https://www.ieso.ca/-/media/Files/IESO/Power-Data/Ontario-Demand-multiday.ashx

In [3]:
load_forecast = ieso.get_load_forecast("latest")
load_forecast.head(5)

,Interval Start,Interval End,Publish Time,Ontario Load Forecast
0,2024-01-01 00:00:00-05:00,2024-01-01 01:00:00-05:00,2024-01-06 16:22:18-05:00,14_827.0000
1,2024-01-01 01:00:00-05:00,2024-01-01 02:00:00-05:00,2024-01-06 16:22:18-05:00,14_111.0000
2,2024-01-01 02:00:00-05:00,2024-01-01 03:00:00-05:00,2024-01-06 16:22:18-05:00,13_801.0000
3,2024-01-01 03:00:00-05:00,2024-01-01 04:00:00-05:00,2024-01-06 16:22:18-05:00,13_737.0000
4,2024-01-01 04:00:00-05:00,2024-01-01 05:00:00-05:00,2024-01-06 16:22:18-05:00,13_821.0000

## Zonal Load Forecast

Hourly zonal load forecast up to 34 days in the future for Ontario, East, and West. http://reports.ieso.ca/public/OntarioZonalDemand

In [4]:
zonal_load_forecast = ieso.get_zonal_load_forecast("latest")
zonal_load_forecast.tail(5)

,Interval Start,Interval End,Publish Time,Ontario Load Forecast,East Load Forecast,West Load Forecast
835,2024-02-09 19:00:00-05:00,2024-02-09 20:00:00-05:00,2024-01-06 09:01:48-05:00,19_730.0000,19_117.0000,613.0000
836,2024-02-09 20:00:00-05:00,2024-02-09 21:00:00-05:00,2024-01-06 09:01:48-05:00,19_266.0000,18_652.0000,614.0000
837,2024-02-09 21:00:00-05:00,2024-02-09 22:00:00-05:00,2024-01-06 09:01:48-05:00,18_648.0000,18_043.0000,605.0000
838,2024-02-09 22:00:00-05:00,2024-02-09 23:00:00-05:00,2024-01-06 09:01:48-05:00,17_796.0000,17_207.0000,589.0000
839,2024-02-09 23:00:00-05:00,2024-02-10 00:00:00-05:00,2024-01-06 09:01:48-05:00,16_667.0000,16_104.0000,563.0000

## Fuel Mix

We can get the historical and real-time mix of fuel types used in the IESO region.

In [5]:
today = pd.Timestamp.now().normalize()
ten_days_ago = today - pd.Timedelta(days=10)

fuel_mix = ieso.get_fuel_mix(ten_days_ago, today)
fuel_mix.head()

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:10<00:00,  1.07s/it]
/Users/williamkoehrsen/git/gridstatus/gridstatus/ieso.py:449: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()

,Interval Start,Interval End,Biofuel,Gas,Hydro,Nuclear,Solar,Wind,Total Output
0,2023-12-27 01:00:00,2023-12-27 02:00:00,16.0000,1_521.0000,3_802.0000,9_767.0000,0.0000,513.0000,15_619.0000
1,2023-12-27 02:00:00,2023-12-27 03:00:00,16.0000,1_226.0000,3_603.0000,9_809.0000,0.0000,403.0000,15_057.0000
2,2023-12-27 03:00:00,2023-12-27 04:00:00,16.0000,1_175.0000,3_258.0000,9_813.0000,0.0000,372.0000,14_634.0000
3,2023-12-27 04:00:00,2023-12-27 05:00:00,16.0000,869.0000,3_419.0000,9_824.0000,0.0000,428.0000,14_556.0000
4,2023-12-27 05:00:00,2023-12-27 06:00:00,16.0000,810.0000,3_471.0000,9_839.0000,0.0000,320.0000,14_456.0000

## Generator Output and Capability

We can see the output and capability (capacity) for all assets in IESO on an hourly basis. The variable generators (wind and solar) also have a forecast.

In [6]:
gen_output = ieso.get_generator_output_and_capability(today)
gen_output.head()

,Interval Start,Interval End,Generator Name,Fuel Type,Output MW,Capability MW,Forecast MW
0,2024-01-06 01:00:00,2024-01-06 02:00:00,BRUCEA-G1,NUCLEAR,808.0000,822.0000,NaN
1,2024-01-06 02:00:00,2024-01-06 03:00:00,BRUCEA-G1,NUCLEAR,808.0000,822.0000,NaN
2,2024-01-06 03:00:00,2024-01-06 04:00:00,BRUCEA-G1,NUCLEAR,808.0000,822.0000,NaN
3,2024-01-06 04:00:00,2024-01-06 05:00:00,BRUCEA-G1,NUCLEAR,808.0000,822.0000,NaN
4,2024-01-06 05:00:00,2024-01-06 06:00:00,BRUCEA-G1,NUCLEAR,808.0000,822.0000,NaN

In [7]:
gen_output[gen_output["Fuel Type"] == "SOLAR"].head()

,Interval Start,Interval End,Generator Name,Fuel Type,Output MW,Capability MW,Forecast MW
2720,2024-01-06 01:00:00,2024-01-06 02:00:00,GRANDSF,SOLAR,0.0000,100.0000,0.0000
2721,2024-01-06 02:00:00,2024-01-06 03:00:00,GRANDSF,SOLAR,0.0000,100.0000,0.0000
2722,2024-01-06 03:00:00,2024-01-06 04:00:00,GRANDSF,SOLAR,0.0000,100.0000,0.0000
2723,2024-01-06 04:00:00,2024-01-06 05:00:00,GRANDSF,SOLAR,0.0000,100.0000,0.0000
2724,2024-01-06 05:00:00,2024-01-06 06:00:00,GRANDSF,SOLAR,0.0000,100.0000,0.0000

In [8]:
gen_output.groupby(["Fuel Type", "Interval Start", "Interval End"]).sum(
    numeric_only=True
).tail()

                                                   Output MW  Capability MW  \
Fuel Type Interval Start      Interval End
WIND      2024-01-06 12:00:00 2024-01-06 13:00:00 2_022.0000     4_825.0000
          2024-01-06 13:00:00 2024-01-06 14:00:00 1_882.0000     4_840.0000
          2024-01-06 14:00:00 2024-01-06 15:00:00 1_508.0000     4_887.0000
          2024-01-06 15:00:00 2024-01-06 16:00:00 1_348.0000     4_871.0000
          2024-01-06 16:00:00 2024-01-06 17:00:00 1_105.0000     4_871.0000

                                                   Forecast MW
Fuel Type Interval Start      Interval End
WIND      2024-01-06 12:00:00 2024-01-06 13:00:00   2_031.0000
          2024-01-06 13:00:00 2024-01-06 14:00:00   1_892.0000
          2024-01-06 14:00:00 2024-01-06 15:00:00   1_524.0000
          2024-01-06 15:00:00 2024-01-06 16:00:00   1_365.0000
          2024-01-06 16:00:00 2024-01-06 17:00:00   1_103.0000