# Settlement Point Prices

In [1]:
import gridstatus
import pandas as pd

In [2]:
iso = gridstatus.Ercot()

## The get_spp Method

The main method is `get_spp`, which takes the following arguments:

### Date

Date can be `"today"`, `"latest"`, or a `pandas.Timestamp`.

### Market

ERCOT has 2 available markets:

In [3]:
iso.markets

[<Markets.REAL_TIME_15_MIN: 'REAL_TIME_15_MIN'>,
 <Markets.DAY_AHEAD_HOURLY: 'DAY_AHEAD_HOURLY'>]

### Location Type

ERCOT has 3 available location types, with `"ZONE"` as default.

In [4]:
iso.location_types

['HUB', 'NODE', 'ZONE']

## Example: Fetch latest real-time market (RTM) by zone

In [5]:
df = iso.get_spp(
    date="latest",
    market="REAL_TIME_15_MIN",
    location_type="zone"
)
df

,Location,Time,Market,Location Type,SPP
0,DC_E,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,24.73
1,DC_L,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,26.11
2,DC_N,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,10.00
3,DC_R,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,25.74
4,DC_S,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,38.17
5,LZ_AEN,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,25.15
6,LZ_CPS,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,25.50
7,LZ_HOUSTON,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,25.07
8,LZ_LCRA,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,24.96
9,LZ_NORTH,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,24.42
10,LZ_RAYBN,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,24.71
11,LZ_SOUTH,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,25.26
12,LZ_WEST,2022-12-21 20:45:00-06:00,REAL_TIME_15_MIN,Zone,9.76

## Example: Fetch latest day-ahead market (DAM) by hub

In [6]:
df = iso.get_spp(
    date="latest",
    market="DAY_AHEAD_HOURLY",
    location_type="hub"
)
df

     Location                      Time            Market Location Type    SPP
0  HB_HOUSTON 2022-12-21 23:00:00-06:00  DAY_AHEAD_HOURLY           Hub  20.01
1    HB_NORTH 2022-12-21 23:00:00-06:00  DAY_AHEAD_HOURLY           Hub  17.40
2      HB_PAN 2022-12-21 23:00:00-06:00  DAY_AHEAD_HOURLY           Hub   7.62
3    HB_SOUTH 2022-12-21 23:00:00-06:00  DAY_AHEAD_HOURLY           Hub  24.03
4     HB_WEST 2022-12-21 23:00:00-06:00  DAY_AHEAD_HOURLY           Hub  16.44

## Example: Fetch DAM from 2 days ago by node

In [7]:
date = pd.Timestamp.now() - pd.Timedelta(days=2)
df = iso.get_spp(
    date=date,
    market="REAL_TIME_15_MIN",
    location_type="node"
)
df

,Location,Time,Market,Location Type,SPP
0,AEEC,2022-12-19 23:30:00-06:00,REAL_TIME_15_MIN,Node,31.83
1,AGUAYO_UNIT1,2022-12-19 23:30:00-06:00,REAL_TIME_15_MIN,Node,31.83
2,AJAXWIND_RN,2022-12-19 23:30:00-06:00,REAL_TIME_15_MIN,Node,31.83
3,ALGOD_ALL_RN,2022-12-19 23:30:00-06:00,REAL_TIME_15_MIN,Node,31.83
4,ALVIN_RN,2022-12-19 23:30:00-06:00,REAL_TIME_15_MIN,Node,31.83
...,...,...,...,...,...
76090,WOV_BESS_RN,2022-12-19 00:00:00-06:00,REAL_TIME_15_MIN,Node,1.57
76091,WRSBES_BESS1,2022-12-19 00:00:00-06:00,REAL_TIME_15_MIN,Node,2.53
76092,W_PECO_UNIT1,2022-12-19 00:00:00-06:00,REAL_TIME_15_MIN,Node,2.38
76093,X443ESRN,2022-12-19 00:00:00-06:00,REAL_TIME_15_MIN,Node,26.88
76094,YNG_WND_ALL,2022-12-19 00:00:00-06:00,REAL_TIME_15_MIN,Node,3.37